# Model hosting app
SCRITTI_HF_TOKEN=
SCRITTI_BASE_MODEL_NAME=meta-llama/Llama-3.1-8B
SCRITTI_ADAPTER_PATH=
SCRITTI_QUANTIZATION=8bit
SCRITTI_TORCH_DTYPE=float16
SCRITTI_MAX_NEW_TOKENS=200
SCRITTI_TEMPERATURE=0.75
SCRITTI_TOP_P=0.9
SCRITTI_TOP_K=25
SCRITTI_REPETITION_PENALTY=1.2

# Eval configs
SCRITTI_EVAL_LORA_PATH=
SCRITTI_EVAL_EXTRA_BASE_MODEL=
SCRITTI_EVAL_EXTRA_LORA_PATH=
